*{
    margin: 0;
}
h1{
    background-color:#000;
    color:#fff;
    text-align: center;
    padding-top:30px;
    margin-top:0;
    height: 80px;
}

nav{
    background-color:#ff0000;
    width:100%;
}

nav ul{
    margin:0;
    padding:0;
}

nav ul li{
    display: inline-block;
}

li a{
    list-style:none;
    color:#fff;
    text-align: center;
    font-size:19px;
    float:left;
    width:90px;
    text-decoration:none;
}
li .home{
    color:#fff;
    background-color:green;
}


.box1, .box2, .box3{
    margin:30px 0;
}

h2, small, p, a{
    padding:10px;
}

footer{
    text-align: center;
    font-size:15px;
}

a:hover{
    color:#ff0000;
}
